.new-post{
    padding: 1em;
    background: white;
    border-radius: 16px;
    box-shadow: 2px 2px 1px 1px #e0e0e0;

    form{

        .top{
            display: flex;
            align-items: flex-start;

            .dash-profile{
                display: block;
                width: 42px;
                height: 42px;
                border-radius: 21px;

                @media screen and (max-width: 500px) {
                    &{
                        display: none;
                    } 
                }
            }

            textarea{
                display: block;
                width: 100%;
                flex: 1;
                padding: 8px 0 8px 16px;
                margin-left: 8px;
                resize: none;
                overflow: hidden;
                min-height: 42px;
                height: 42px;
                border-radius: 21px;
                border: none;
                background: #f0f2f5;

                &:focus{
                    outline: none;
                }

                @media screen and (max-width: 500px) {
                    &{
                        font-size: 16px;
                    } 
                }
            }

            svg{
                display: block;
                margin: 8px 0 0 6px;
                cursor: pointer;
            }
        }

        .divider{
            border-bottom: 1px solid rgb(206, 206, 206);
            margin: 0.5em 0;
        }

        #post-image{
            width: 50%;
            max-width: 200px;
            height: auto;
        }

        .submit{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dash-profile-submit{
                display: none;
                width: 30px;
                height: 30px;
                border-radius: 15px;

                @media screen and (max-width: 500px) {
                    &{
                        display: block;
                    } 
                }
            }

            button{
                background: #d7f725;
                border: none;
                border-radius: 200px;
                color: white;
                padding: 0.5em 1em;
                cursor: pointer;
                font-weight: 500;
                transition: all 0.1s ease-in;

                &:hover{
                    filter: brightness(0.9);
                }
            }
        }
    }
}