.signIn-wrap{
    display: flex;
    justify-content: center;
    background: #f0f2f5;
    height: 100%;

    .inner-wrap{
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 70%;
        min-width: 700px;
        max-width: 1000px;

        .header{
            flex: 1;

            h1{
                font-size: 72px;
                color: #141414;
            }

            p{
                font-size: 18px;
                color: #141414;
            }
        }

        .control{
            display: flex;
            justify-content: flex-end;
            flex: 1;

            button{
                padding: 0.5em 1.5em;
                border: none;
                border-radius: 8px;
                color: white;
                font-size: 24px;
                background: #c3f218;
                cursor: pointer;
                font-weight: 600;
            }
        }

        @media screen and (max-width: 740px) {
            
            &{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                min-width: 0px;
                max-width: 1000px;
                padding: 2em;

                .header{
                    flex: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p{
                        text-align: center;
                    }
                }

                .control{
                    flex: none;
                }
            }
        }

        @media screen and (max-width: 375px) {
            
            .header{
                h1{
                    font-size: 36px;
                }
                p{
                    font-size: 12px;
                }
            }

            .control{
                
                button{
                    font-size: 16px;
                }
            }
            
        }
    }
}