#requests-wrap{
    padding: 1em;
    flex: 1;

    .sub-head{
        display: block;
        border-bottom: 1px solid #d6d6d6;
    }

    h1{
        font-weight: 300;
        font-size: 18px;
        color: #3b3b3b;
    }

    .grid-cont{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
        gap: 1em;
        padding: 1em 0;

        .friend-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            background: white;
            padding: 1em 1em;
            border-radius: 16px;
            box-shadow: 2px 2px 1px 1px #ebebeb;
            transition: all 0.1s ease-in-out;
            cursor: pointer;

            &:hover{
                transform-origin: center;
                transform: translateY(2px);
                box-shadow: 0px 0px 0px 0px #ebebeb;
            }

            a{
                display: flex;
                flex-direction: column;
                text-decoration: none;
                align-items: center;
                justify-content: center;
                gap: 1em;

                .mini-user-profile{
                    display: block;
                    width: 64px;
                    height: 64px;
                    border: 3px solid rgb(223, 223, 223);
                    border-radius: 50%;
                }

                .name{
                    text-align: center;
                    color: #3b3b3b;
                }
            }

            .action-area{
                display: flex;
                gap: 0.75em;
            }

            .accept-request{
                padding: 4px 8px !important;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                color: white;
                background: #eef218;
            }

            .cancel-request{
                padding: 4px 8px !important;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}
